CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Binaries
lab_1_colored_regions/color_dist
lab_2_homography/homography
lab_2_camera_perspective/camera_perspective
exercise_2_fast_median_filter/fast_median_filter
